*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    padding: 2vw;
    text-align: center;
}
h3{
    position: relative;
    height: 45px;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.btn{
    cursor: pointer;
    margin-bottom: 0.5vw;
    margin: 1.3vw;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 10px;
}
.red{
    background-color: red;
}
.green{
    background-color:green;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color:rgba(0, 0, 0, 0.199);
}
@media (max-width:480px) {
    
    .btn{
        height: 160px;
        width: 160px;
        border: 8px solid black;
        
    }
}
